body,html{
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100vw;
  background-image: url(img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#header1{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header2{
display: flex;
gap: 10px;
}
h2{
  color: whitesmoke;
  margin-left: 20px;
}
a{
  color: whitesmoke;
  text-decoration: none;
  margin-right: 20px;
}
#hero-content{
  display: flex;
  justify-content: center;
align-items: center;
flex-direction: column;
height: 70%;
color: whitesmoke;
}
button{
  padding: 10px 8px;
  border-radius: 6px;
  border: none;
  background-color: #ff0059;
  color: whitesmoke;
  cursor: pointer;
}
h1{
  margin: 0;
  padding: 0;
}